{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/challenge.css">
	<link rel="stylesheet" href="/assets/css/code.css">
{% endblock %}

{% block content %}
	<main>
		<h1>
			<span class='handwritten'>{{ challenge.name }}</span>
		</h1>
		<section>
			<div>
				{% include 'Assets/img_id_' ~ challenge.id ~'.html.twig' %}
			</div>
			<article>
				<p>{{ challenge.instructions }}</p>
				{% include 'Assets/instruction_' ~ challenge.type ~'.html.twig' %}
				<form method='post' action="/challenges/validation/?id={{ challenge.id }}" id='validation'>
					<input type="hidden" value="{{ challenge.id }}">
					<input type="text" name='user_answer'>
				</form>
				<p>
					<i id='indice' class='hidden'>{{ challenge.clue }}</i>
				</p>
			</article>
		</section>
		<aside>
			<button id='clueButton' class='clue' type="button">Indice</button>
			<button class='validate' type="submit" form="validation">Valider</button>
		</aside>
	</main>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const button = document.getElementById('clueButton');
        button.addEventListener('click', () => {
            const clueElement = document.getElementById('indice');
            clueElement.classList.toggle('hidden');
        });
    });
    var roomId = {{ challenge.room_id }};
    const body = document.getElementById('body');
    body.classList.add(`image${ roomId }`);
	document.addEventListener('DOMContentLoaded', function () {
        const images = document.querySelectorAll('.enlarge-image');

        images.forEach(image => {
            image.addEventListener('click', function () {
                if (this.classList.contains('full-screen')) {
                    this.classList.remove('full-screen');
                } else {
                    this.classList.add('full-screen');
                }
                });
            });

        document.getElementById('clueButton').addEventListener('click', function () {
            Swal.fire({
                html: '<p><i id="indice">Regardez de plus près pour voir ce que l\'œil ne peut pas distinguer immédiatement.</i></p>',
                background: 'rgba(0, 0, 0, 0.7)', // Semi-transparent black background
                color: '#ffcc00', // Gold color for text
                padding: '10px',
                customClass: {
                    popup: 'styled-alert'
                }
            });
        });
    });
</script>
{% endblock %}
