{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/puzzle.css" />
{% endblock %} {% block content %}
<div class="card__outer">
    <h2>{{ challenge.name }}</h2>
    <div class="card__inner">
        <div class="card__content">
            <p>{{ challenge.instructions }}</p>
            <form
                class="puzzle"
                method="post"
                action="validation/?id={{ challenge.id }}"
            >
                <div class="puzzle__container" id="puzzle-container">    
                      {% if challenge.level is same as('easy') %}
                        {% set images = [
                            '1.png',
                            '2.png',
                            '3.png',
                            '4.png',
                            '5.png',
                            '6.png'
                        ] %}
                      {% elseif challenge.level is same as('average') %}
                        {% set images = [
                            '1.png',
                            '2.png',
                            '3.png',
                            '4.png',
                            '5.png',
                            '6.png',
                            '7.png',
                            '8.png',
                            '9.png',
                        ] %}
                      {% elseif challenge.level is same as('hard') %}
                      {% set images = [
                            '1.png',
                            '2.png',
                            '3.png',
                            '4.png',
                            '5.png',
                            '6.png',
                            '7.png',
                            '8.png',
                            '9.png',
                            '10.png',
                            '11.png',
                            '12.png'
                        ] %}
                      {% endif %}
                    {% for image in images %}
                    <div
                        class="puzzle_container_piece"
                        alt="Image {{ loop.index }}"
                        id="{{ loop.index }}"
                        draggable="true"
                        ondragstart="drag(event)"
                        ondrop="drop(event)"
                        ondragover="allowDrop(event)"
                    >
                        <img
                            src="/assets/images/challenges/{{ challenge.id }}/{{
                                image
                            }}"
                            alt="Image {{ loop.index }}"
                            id="{{ image }}"
                            draggable="true"
                            ondragstart="drag(event)"
                            ondrop="drop(event)"
                            ondragover="allowDrop(event)"
                        />
                    </div>
                    {% endfor %}
                </div>
              
                <div class="puzzle__solution-container">
                    {% for index in range(1, images|length) %}
                    <div
                        id="box{{ index }}"
                        draggable="true"
                        class="puzzle__solution-container__block"
                        ondrop="drop(event)"
                        ondragover="allowDrop(event)"
                    /><input name="userSolution" type="hidden" id="user-solution"/>
                </div>
                {% endfor %}
                </div>
                <div class="puzzle__side-container">
                    {% for index in range(1, 3) %}
                    <div
                        class="puzzle__side"
                        ondrop="drop(event)"
                        ondragover="allowDrop(event)"
                    /></div>
                    {% endfor %}
                </div>
                </div>
                <div class="button__container">
                    <button type="clue" id="clue">Indice</button>
                    <button type="submit" id="validate" disabled>
                        Valider
                    </button>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block javascript %}
<script>

    const input = document.getElementById('user-solution');
    const button = document.getElementById("validate");
    const puzzle = document.querySelector("form.puzzle");
    const container = document.getElementById("puzzle-container"); 
    let imgId = "";
    const userSolution = [];

    (function() {
  
        const elementsArray = Array.from(container.children);
        for (let i = elementsArray.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [elementsArray[i], elementsArray[j]] = [elementsArray[j], elementsArray[i]];
        }
        container.innerHTML = '';
        elementsArray.forEach(element => container.appendChild(element));
    })();
        
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        imgId = ev.target.id;
        return imgId;
    }
   
    function drop(ev) {
        ev.preventDefault();

        const data = ev.dataTransfer.getData("text");
        const boxId = ev.target.id;
        const boxIndex = parseInt(boxId.replace("box", "")) - 1;
        ev.target.appendChild(document.getElementById(imgId));
        userSolution[boxIndex] = imgId;
        while (userSolution[userSolution.length - 1] === null) {
            userSolution.pop();
        }
        input.value = JSON.stringify(userSolution);
        puzzle.appendChild(input);
        activateValidateButton(userSolution);
    }

    function activateValidateButton(arr) {
        if (!userSolution.some((element) => element === null)) {
            button.disabled = false;
        } else {
            button.disabled = true;
        }
    }
</script>
 {% endblock %}
